@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800;0,700;1,700&display=swap');

$color-header-light : #484848;

body {
    padding : 0;
    margin  : 0; 
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin : 0;
}